@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(popconfirm) {
  @include e(main) {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
  }
  @include e(icon) {
    margin-right: 6px;
  }
  @include e(action) {
    text-align: right;
    margin-top: 12px;
  }
}
